{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SGEA{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

</head>
<body>
  <div class="body-wrapper">
    <!-- Cabeçalho -->
    <header>
      <div class="logo">
  <a href="{% url 'core:home' %}">
    <img src="{% static 'image/sgea.png' %}" alt="Logo SGEA" style="height: 80px;">
  </a>
</div>

      <nav>
        <a href="{% url 'core:home' %}" class="btn">Home</a>
        <a href="{% url 'core:events' %}" class="btn">Eventos</a>
        {% if user.is_authenticated %}
          <a href="{% url 'core:profile' %}" class="btn">Meu Perfil</a>
          <a href="{% url 'core:logout' %}" class="btn cancel">Sair</a>
        {% else %}
          <a href="{% url 'core:login' %}" class="btn">Entrar</a>
          
        {% endif %}
      </nav>
    </header>

    <!-- Conteúdo principal -->
    <main>
      {% block content %}{% endblock %}
      <div style="height: 1px;"></div>
    </main>

    <!-- Rodapé -->
    <footer>
      <p>&copy; {{ now.year }} SGEA - CEUB. Todos os direitos reservados.</p>
    </footer>
  </div>
</body>
</html>
